.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.project__list {
  display: flex;
  margin-left: 0.5em;
  margin-bottom: 1.5em;
}

.project__list__item {
  margin-right: 1.5em;
  font-size: 1.2em;
}

.project__category__link::before {
  content: '';
  display: inline;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-fg-alt);
  transition: width 0.2s ease-in;
}

.project__category__link {
  transition: transform 0.3s;
}

.project__category__link:hover,
.project__category__link.project__category__link--selected {
  transform: translateY(-3px);
}

.project__category__link.project__category__link--selected::before {
  width:100%;
}