.project__category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  justify-content: center;
}

.project__category__item {
  padding: 0 0.8em;
  font-size: 1.2em;
}

.project__category__link::before {
  content: '';
  display: inline;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-fg-alt);
}

.project__category__link--selected::before {
  width:100%;
}

.project__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2em;
}

@media (max-width: 1400px) {
  .project__grid {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 700px) {
  .project__grid {
    grid-template-columns: 100%;
  }
  .project__category__item {
    padding: 0 0.5em;
    font-size: 0.9em;
  }
}