.project {
  padding: 2em;
  background-color: #1D1F33;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 0.5em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}

.project__stack-item {
  margin: 0.5em 1em 0.5em 0;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.3em 1.2em;
  color: var(--clr-fg-alt);
}

.project__img {
  display: block;
  width: 250px; /*to change*/
  padding: 0.5rem 0rem;
}

.project__link {
  margin-top: 2.4em;
}

.project__btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 600;
  font-size: 0.8rem;
  transition: transform 0.2s ease-in-out;
  margin-right: 1em;
}

.project .link--icon {
  margin-right: 0.5em;
}
