.project {
  padding: 1.5em 1.5em 0.7em 1.5em;
  background-color: var(--clr-project-card);
  box-shadow: var(--shadow);
  border-radius: 0.2em;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 0.3em;
  color: var(--clr-fg-light);
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}

.project__stack-item {
  margin: 0.2em 1em 1em 0;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.1em 1.2em;
  color: var(--clr-fg);
  background-color: var(--plain-btn);
  border-radius: 0.6em;
}

.project__img__container {
  display: flex;
  align-items: center;
  height: 55%;
}

.project__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.project__btn__container {
  display: flex;
}

.project__btn {
  margin-bottom: 0.8em;
  font-size: 0.8rem;
  margin-right: 1em;
}


