.about {
  height: 100vh;
}

.about__container {
  padding-top: 3em;
}

.about__desc__container {
  flex:58%;
}

.about__desc {
  font-size: 1.25rem;
  margin: 2em 0;
  list-style-type: disc;
  list-style-position: inside;
}

.about__desc:nth-last-child(-n+2) {
  list-style-type: none;
  margin-top: 4em;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Courier New', monospace;
}

.about__desc:last-child {
  margin-top: 1em;
}

.about__img__container {
  flex: 42%;
  padding-left: 10em;
}

.spotlight__container {
  position: relative;
}

.about__img__container img {
  border-radius: 10%;
  z-index: 1;
  position: relative;
}

.spotlight {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #1F41BB;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -43%);
  box-shadow: 0 0 25em #132f92, 0 0 50em #1F41BB, 0 0 60em #3c5cd0; /* Adjust the shadow size and color */
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

@media (max-width: 1430px) {
  .about__img__container {
    display: none;
  }
}

