.home {
  height: 100vh;
  background-image: url(../../images/home-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 6em;
}

.home__name {
  color: var(--clr-fg);
  font-size: 3rem;
}

.home__role {
  margin-top: 0.2em;
}

.home__contact {
  margin-top: 1.8em;
}

.home .link--icon {
  margin: 0.4em;
  font-size: 2.3rem;
}

.home__btn {
  font-size: 1.1rem;
  margin-top: 1em;
  width: 50%;
  transform: translateX(50%);
  color: var(--clr-fg);
  border: 1px solid var(--clr-fg);
  border-radius: 0.5em;
  transition: 0.5s ease-in-out;
}

.home__btn:hover,
.home__btn:focus {
  box-shadow: 0 0 25px var(--clr-fg);
}

@media (max-height: 600px) {
  .home {
    height: 600px;
  }
}

@media (max-width: 900px) {
  .home__name {
    font-size: 2.5rem;
  }
  .home__role {
    font-size: 1.8rem;
  }
  .home .link--icon {
    font-size: 2rem;
  }  
  .home__btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .home__name {
    font-size: 2rem;
  }
  .home__role {
    font-size: 1.5rem;
  }
  .home .link--icon {
    font-size: 1.5rem;
  }
  .home__btn {
    font-size: 0.7rem;
  }
}


