.home {
  height: 100vh;
}

.home__content {
  flex-direction: column;
}

.home__name {
  color: var(--clr-primary);
}

.home__role {
  margin-top: 0.2em;
  font-size: 3rem;
}

.home__about,
.home__contact {
  margin-top: 2.4em;
}

.home .link--icon {
  margin-right: 1.5em;
}

.home .link--icon .icon {
  font-size: 2.3rem;
}

@media (max-width: 600px) {
  .app .home {
    margin-top: 2em;
  }
}
