.contact__desc__container {
  flex: 50%;
}

.contact__desc {
  font-size: 1.25rem;
  margin: 2em 0;
}

.contact__social {
  flex: 50%;
  flex-direction: column;
}

.contact__social__item {
  font-size: 1.25rem;
  padding-left: 5em;
  display: flex;
  align-items: center;
}

.contact__social__item:first-child {
  padding-bottom: 1.5em;
}

.contact__icon {
  margin-right: 1em;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .app .contact {
    align-items: flex-start;
    margin-top: 2em;
  }
}
