.contact__desc {
  font-size: 1.3rem;
  margin-top: 2em;
  text-align: center;
}

.contact__desc:last-child {
  margin-top: 0.5em;
}

.contact__social {
  margin-top: 3em;
  flex-direction: column;
}

.contact__btn {
  margin-bottom: 2em;
  width: 350px;
  justify-content: center;
}

@media (max-width: 600px) {
  .contact__desc {
    font-size: 0.8rem;
    margin-top: 2em;
    text-align: center;
  }
  .contact__btn {
    margin-bottom: 1.5em;
    width: 100%;
    font-size: 0.7rem;
  }
}
