.nav {
  height: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  background-color: transparent;
}

.nav__showNavList--background {
  background-color: inherit;
}

.nav__list {
  margin-right: 3em;
  display: flex;
}

.nav__list-item {
  margin-left: 2em;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.nav__list-item .link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-fg-alt);
  transition: width 0.2s ease-in;
}

.nav__list-item .link:hover::before {
  width:100%;
}

.app .nav__meun {
  display: none;
}

.nav__cross-icon,
.nav__meun-icon {
  font-size: 1.5rem;
}

.nav__cross-icon {
  position: fixed;
  right: 0.8em;
}

.nav__btn--icon:hover,
.nav__btn--icon:focus {
  color: var(--clr-icon-alt);
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__meun {
    display: flex;
    z-index: 1;
    margin-left: 0.8em;
  }
}
