.nav {
  display: flex;
  height: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  padding-right: 3rem;
  background-color: transparent;
  z-index: 1;
}

@media (max-width: 600px) {
  .nav {
    height: 6em;
  }
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 2em;
}

.app .nav__hamburger {
  display: none;
}

.nav__theme {
  margin-top: 0.4em;
}

.nav .icon {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}

.nav__link {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.nav__link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-fg-alt);
  transition: width 0.2s ease-in;
}

.nav__link:hover::before {
  width:100%;
}
