.app {
  font-family: 'Open Sans', Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.section {
  padding-top: 8rem;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section__title {
  margin-bottom: 1em;
}

.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.link {
  color: var(--clr-fg);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link--icon {
  color: var(--clr-icon);
  transition: transform 0.3s, color 0.2s;
}

.link--icon:hover {
  color: var(--clr-icon-alt);
  transform: translateY(-6px);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 600;
}

.btn--outline {
  color: var(--clr-fg);
  border: 1px solid var(--clr-fg);
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn--outline:hover,
.btn--outline:focus {
  box-shadow: 0 0 15px var(--clr-fg), 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn--plain {
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .section {
    margin-top: 4em;
  }
}
