.app {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.section {
  padding: 5em 10em;
  border-bottom: 1px solid var(--section-border);
}

.section:last-child {
  border-bottom: none;
}

.section__title {
  margin-bottom: 1em;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  padding-bottom: 0.3em;
  position: relative;
}

.link--icon {
  color: var(--clr-icon);
  transition: transform 0.3s, color 0.2s;
}

.link--icon:hover {
  color: var(--clr-icon-alt);
  transform: translateY(-6px);
}

.btn {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 600;
}

.btn__section {
  display: flex;
  align-items: center;
  padding: 0.7em 1.4em;
  font-weight: 600;
  background-color: var(--btn);
  border: 1.5px solid var(--btn-alt);
  border-radius: 0.7em;
  transition: 0.5s ease-in-out;
}

.btn__section:hover,
.btn__section:focus {
  background-color: var(--clr-fg-alt);
}

.btn__section__icon {
  margin-right: 0.5em;
}

@media (max-width: 900px) {
  .section {
    padding: 5em 3em;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 5em 2em;
  }
}
